.about-section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  @include font(700, 36px, 1.17);
  text-align: center;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.about-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1200px) {
    display: none;
  }

  &__item {
    position: relative;
  }

  &__title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    @include font(700, 14px, 1.14);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__item + &__item {
    margin-left: 30px;
  }
}
