.about-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
  }

  &__title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    @include font(700, 14px, 1.14);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__item + &__item {
    margin-left: 30px;
  }
}
