.client-list {
  @extend %list;
  margin-bottom: -30px;

  display: flex;
  flex-wrap: wrap;

  // @media screen and (min-width: 1200px) {
  //   justify-content: space-between;
  //   flex-wrap: nowrap;
  // }

  &__item {
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
      margin-left: 20px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 120px) / 6);
      margin-left: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    height: 92px;
    border: 1px solid var(--primary-icon-color);
    border-radius: 4px;

    color: var(--primary-icon-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
