.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/hero-min.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/hero2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/hero2x-min.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero2x.jpg);
    }
  }
}

.hero {
  height: 400px;
  padding-top: 118px;

  background-color: var(--background-color-footer);
  text-align: center;

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    @include font(900, 26px, 1.615);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      @include font(900, 44px, 1.36);
    }
  }

  &__button {
    @extend .button;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
