.form-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    width: 358px;
  }

  &__label {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-left: 10px;
  }

  &__button {
    @extend .button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;

    line-height: 1.875;
    letter-spacing: 0.06em;

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }
}
