.logo {
  display: flex;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  color: var(--primary-black-color);
  font-family: var(--logo-font);
  @include font(700, 24px, 1.167);

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19);
  }

  &--accent-color {
    color: var(--accent-color);
  }
}
