.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--title-text-color);
    @include font(700, 28px, 1.179);
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      @include font(700, 36px, 1.17);
    }
  }

  &--no-padding {
    padding-top: 0;
  }

  &--bg-color-secondary {
    background-color: var(--background-color-secondary);
  }
}
