.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    @include font(700, 36px, 1.17);

    text-align: center;
  }

  &--bg-color-secondary {
    background-color: var(--background-color-secondary);
  }
}
